# Virtual environment
venv/

# Environment variables
.env
.env.dev

# Python cache files
__pycache__/
*.pyc
*.pyd
*.pyo

# Pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# macOS specific files
.DS_Store

# Grug's brain files
*.db
grug_lore.index
*.code-workspace
.env.prod
*.index

# Model files and cache directories
models/
.cache/
# User-specific cache directories
*/.cache/grugthink/
